.paused-snake-board,
.snake-board {
    display: grid;
    position: relative;
    width: 30vw;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: black;
    border: 2px solid rgb(65, 62, 62);
    aspect-ratio: 1; /* Ensures the board is always square */
}

.paused-snake-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

.paused-snake {
    text-align: center;
    margin: 0.5rem;
}

.snake-segment, .food {
    position: absolute;
    width: 5%;
    height: 5%;
    background-color: #0f0; /* Snake color */
}

.food {
    background-color: #f00; /* Food color */
}