.ttt-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

.ttt-board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 6em;
    max-width: 150px;
    height: 6em;
    max-height: 150px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.cell.winner {
    background-color: #ffff00;
}